.cointainer {
  display: flex;
  flex-direction: column;
}

.section {
  flex: 1,
}

.section-first {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}

.titleContainer {
  flex: 1;
  font-size: 2vw;
  padding: 20px;
  margin-left: 6%;
}

.contactContainer {
  flex: 1;
  padding: 60px;
  margin-right: 6%;
  font-size: 2vw;
  margin-top: -2%;
}

.buttonExplore {
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: 1;
  border-radius: 10px ;
  margin-right: 4px;
}
.buttonLearn {
  padding: 10px 20px;
  background-color: white;
  color: black;
  font-weight: bold;
  border: 1;
  border-radius: 10px ;
  margin-right: 4px;
}

.sectionThird {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  margin-inline: 6%;
}

.collageImage {
  flex: 1;
}

.SidebysideImage {
  display: flex;
  flex-direction: row;
}

.containerThird {
  flex: 1;
  margin-left: 4%;
}

.informationContainer {
  display: flex;
  flex-direction: row;
}

.informationItem {
  flex: 1;
}

.informationTitle {
  font-weight: bold;
  font-size: 2vw;
}

.informationHeader {
  font-weight: bold;
  font-size: 2vw;
  margin-bottom: -20px;
}

.plus {
  color: blue;
}

.titleBlog {
  margin-left: 10%;
}

.blog {
  margin-left: 10%;
  text-align: left;
}